*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
    text-decoration: none;  
}

body, html {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto; 
}

.logo{
    height: 75px;
    width: 85px;
}
.align1{
    display:flex;
    padding: 8px;
    justify-content: space-between;
    background-color:#1d5051;
    position: sticky;
    top: 0;
    z-index: 10;  
    width: 100%;
}
.align2{
    display: flex;
    justify-content: center;
}
.align2>div{
    font-style: italic;
    margin-top: 5px;
    color: aliceblue;
    margin-left: 10px;
}
.list{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-top: 15px;
    margin-right: 20px;
}
.list>a>li{
    color: aliceblue;
    font-weight: 600;
    background-color:#407778;
    height: 30px;
    width: 110px;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
}
.list>a>li:hover{
    background-color: palegoldenrod;
    color: chocolate;
    box-shadow: 2px 2px 4px black;
   
}
